body{
    background-image: url('./assets/pexels-ds-stories-7267496.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.navbar{
    flex-wrap: nowrap;
    margin-top: 0;
}
.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.677);
}
nav{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./assets/pexels-ds-stories-7267496.jpg");
    margin-top: 1%;
    width:100%;
}
#search_input{
    margin-right: 2%;
}

.my_app{
    margin-top: 80px;
    transition: margin-top 500ms;
}

.my_img{
    border-radius: 15%;
    height: 300px;
}
.hide{
    display: none;
}
.my_coin_loader{
    text-align: center;
}
.error{
    text-align: center;
    font-size: xx-large;
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    padding: 2%;
}
.boxes{
    display: flex;
    flex-wrap:wrap;
}
.main_card{
    flex-basis: 3;
    width: 33%;
    background-image: url('./assets/pexels-gdtography-950241.jpg');
}
h5{
    max-width: 80%;
}
.About_page{
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
}
.text{
    text-align: center;
    width: 70%;
}
footer{
    padding: 10px;
    
}
.dropdown{
    display: flex;
    justify-content: space-between;
}
#filter{
    margin-left: 2%;
    margin-right: 1rem;
}

.modal-body{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: larger;
    font-weight: bold;
}
.innerpop{
    flex-basis: 70%;
    margin-bottom: 1%;
}
.innerpop > span{
    font-size: smaller;
    color: #6c757d!important;
}
.main_switch{
    position:absolute;
    left: 80%;
    top: 15px;
}
@media only screen and (max-width: 767.9px) {
    .main_card {
        width: 50%;
      }
  }

  
  @media only screen and (max-width: 576px) {
    .main_card {
        width: 94%;
        margin-left: 3%;
      }
  }
  @media only screen and (min-width: 494px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar-expand-lg .navbar-toggler {
    display: none;
    }
 }
  @media only screen and (max-width: 765px) {
    .my_app {
    margin-top: 110px;
    }
    .search-bar{
        margin-top: 2%;
    }
    .form-control{
        width: 57%;
    }
 }
  @media only screen and (max-width: 494px) {
    .navbar{
        flex-wrap: wrap;
    }
    .my_app {
        margin-top: 80px;
        }
    .collapsed-nav{
        margin-top: 160px;
        
    }
 }